[Unit]
Description=Keymod - A keyboard remapping tool
After=systemd-udev-settle.service

[Service]
Type=simple
ExecStart=sh -c '/var/home/nxtcoder17/workspace/nxtcoder17/keymod/bin/keymod --first --config /home/nxtcoder17/.config/keymod/config.toml'
User=root
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
